* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

body {
 height: 100vh;
 width: 100vw;
 background-color: rgb(24, 24, 24);
 color: white;
 padding: 30px;
 font-size: 30px;
}
button {
  padding: 8px;
  margin: 20px 0px;
}